/* About Us */

p {
  &.text-about-us {
    font-family: $font-principal;
    font-size: 25px;
    color: $font-color-principal;
  }
}

// Desafio Sass 2 :crear una clase para luego reutilizarla aplicando extend.
.titles {
  font-family: $font-principal;
  color: $font-color-principal;
  text-align: center;
}


h1 {
  &.title-staff {
    // Desafio Sass 2: aplicar un extend.
    @extend .titles;
    margin-top: 10px;
  }
  &.title-history {
    // Desafio Sass 2: aplicar un extend.
    @extend .titles;
    text-align: center;
    margin-top: 10px;
  }
}

h2 {
  &.title-barmans {
    // Desafio Sass 2: aplicar un extend.
    @extend .titles;
    margin-top: 10px;
  }
}

h3 {
  &.titles-barman {
    // Desafio Sass 2: aplicar un extend.
    @extend .titles;
  }
}

img {
  &.img-staff-parnerts {
    border-radius: 100px;
    &:hover {
      transform: scale(2, 2);
      transition: all 1s;
    }
  }

  &.img-about-us {
    width: 100%;
    height: 50%;
    padding: 10px;
    &:hover {
      transform: scale(2, 2);
      transition: all 1s;
    }
  }
}

div {
  &#about-us-container-mobile {
    display: none;
  }
}
