/* Contact */

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;

  iframe {
    left: 0;
    top: 0;
    height: 70%;
    width: 100%;
    position: absolute;
  }
}

h1 {
  &.text-contact {
    color: $font-color-principal;
  }
}

p {
  &.contact-data {
    color: $font-color-principal;
  }
}

label {
  &.form-label {
    color: $font-color-principal;
  }
}

div {
  &#contact-container-mobile {
    display: none;
  }
  &#map-container-google-1 {
    height: 500px;
  }
  &#contact-data-container {
    margin-top: -180px;
    text-align: center;
  }
  &#text-form-contact {
    text-align: center;
    margin-top: 15px;
  }
}

button {
  &#btn-contactar {
    background-color: rgb(202, 68, 34);
    color: $font-color-principal;
  }
}


