/* Index */

// Desafio Sass 2 Generar un mixin para reutilizar código.
@mixin sizes ($width, $height) {
  height: $height;
  width: $width;
}


div {
  &.circulo-1 {
    width: 400px;
    height: 400px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgb(145, 37, 37);
    margin-top: -230px;
    margin-left: -200px;
  }
  &#navbarSupportedContent{
    justify-content: end;
  }
  &#header-Presentation-Mobile {
    display: none; 
  }
  &#carouselExampleCaptions-1 {
    display: none;
  }
}

div {
  &.circulo-2 {
    width: 400px;
    height: 400px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgb(145, 37, 37);
    margin-top: -180px;
    margin-left: 280px;
  }
}

img {
  &.img-deck-home {
    border-radius: 40px;
    width: 100%;
    height: 50%;
    &:hover {
      transform: scale(2,2);
      transition: all 1s;
    }
  }
  &.banner {
    // Desafio Sass 2 : Utilizar un Mixin.
    @include sizes(100%,400px);
    border-radius: 30px;
  }
  &#tragos-carrousel {
    border-radius: 30px;
  }
  &#food-grid {
    border-radius: 30px;
  }
  &#food-merienda-grid {
    border-radius: 30px;
  }
}

img {
  &#img-merienda {
    border-radius: 40px;
    height: 400px;
    &:hover{
      transform: scale(2,2);
      transition: all 1s; 
    }
  }
  &.img-inicio-desktop {
    margin-top: -330px; 
    width: 100%;
  }
  &.img-inicio-mobile {
    margin-top: -230px;
    width: 100%; 
  }
}


h1 {
  &.text-sections {
    font-family: $font-principal;
    margin-top: 100px;
    color: white;
  }
  &.title-principal {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 60px; 
    color: white; 
    margin-top: 20px;
  }
  &.title-principal-Mobile {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 60px; 
    color: white; 
    margin-top: 10px;
  }
}

h2 {
  &.title-banners {
    text-align: center;
    font-family: 'Neuton', serif, cursive;
    font-size: 50px; color: white; 
    // margin-top: -40px;
  }
  &.title-secondary {
    font-family: 'Neuton', serif; 
    color: white;
    text-align: center;
  }
}

h5 {
  &.subTitle-banners {
    color: white; 
    text-align: center; 
    font-family: 'Neuton', serif;
    margin-bottom: 10px;
  }
}

hr {
  color: white !important;
}

ul {
  &.navbar-nav {
    text-align: center;
  }
}
