/* Index */

@mixin sizes ($width, $height) {
  height: $height;
  width: $width;
}

@mixin border ($val) {
  border-radius: $val;
}

.titles-principal {
  font-family: $font-sencondary;
  color: $font-color-principal;
  text-align: center;
  font-size: 60px;
}


h1 {
  &.title-principal {
    @extend .titles-principal;
    position: absolute;
    top: 2%;
    left: 35%;
    margin-top: 20px;
  }
  &.title-principal-Mobile {
    @extend .titles-principal;
    margin-top: 10px;
  }
}

h2 {
  &.title-banners {
    @extend .titles;
    font-size: 50px; 
    margin-top: 10px;
  }
  &.title-secondary {
    @extend .titles;
  }
}

h5 {
  &.subTitle-banners {
    @extend .titles;
    margin-bottom: 10px;
  }
}


div {
  &#navbarSupportedContent{
    justify-content: end;
  }
  &#header-Presentation-Desktop{
    position: relative;
  }
  &#header-Presentation-Mobile {
    display: none; 
  }
  &#carouselExampleCaptions-1 {
    display: none;
  }
}

img {
  &.banner {
    @include sizes(100%,400px);
    border-radius: 30px;
    box-shadow: 5px 8px 12px red;
  }
  &#tragos-carrousel {
    @include border($px-border-radius);
  }
  &#food-grid {
    @include border($px-border-radius);
  }
  &#food-merienda-grid {
    @include border($px-border-radius);
  }
  &.img-inicio-desktop {
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 5px 8px 12px red;
    width: 100%;
  }
  &.img-inicio-mobile {
    margin-top: -230px;
    width: 100%; 
  }
}

ul {
  &.navbar-nav {
    text-align: center;
  }
}
