/* Menu */

img {
  &.img-mas-pedidos {
    -webkit-filter: grayscale(100%);
    width: 100%;
    height: 90%;
    border-radius: 10px;

    &:hover {
      filter: none;
      -webkit-filter: grayscale(0%);
      transform: scale(2, 2);
      transition: all 1s;
    }
  }
}

div {
  &.card {
    // Desafio Sass 2 : Utilizar un mapa.
    background-color: map-get($colors, secondary);
    color: white;
  }
  &#card-menu-item {
    width: 18rem;
    margin: 10px;
  }
  &#title-carrousel-cocktails {
    margin-left: 130px; 
    color: white;
  }
  &#ilustration {
    margin-right: 130px; 
    height: 400px;
    width: 400px;
  }
  &#options {
    text-align: center;
  }
  &#content-cards-mobile {
    display: none;
  }
  &#maspedidos-mobile {
    display: none;
  }
  &#content-cards {
    text-align: center;
  }
  // &#carouselExampleControls {
  //   display: none;
  // }
  &#carta-mobile {
    display: none;
  }
  &#queTomar-button {
    text-align: center;
  }
  &#card-menu-item-mobile {
    width: 18rem;
    margin: 10px;
    height: 500px;
  }
}

h1 {
  &.title-menu {
    text-align: center;
    color: white;
    margin-bottom: 30px;
  }
}

h2 {
  &.title-carta {
    text-align: center; 
    color: white; 
    margin-top: 30px;
  }
  &.subtitle-carta {
    color: white; 
  }
}

h3 {
  &.subtitle-carta {
    text-align: center; 
    color: white; 
    margin-top: 10px; 
    margin-bottom: 40px;
  }
}

button {
  &#search-button {
    margin-left: 5px;
  }
}