/* Menu */

img {
  &.img-ilustraciones {
    height: 90%;
    border-radius: 600px;
    box-shadow: 5px 8px 12px red;
  }
}

div {
  &.card {
    background-color: map-get($colors, secondary);
    color: white;
  }
  &#card-menu-item {
    width: 18rem;
    margin: 10px;
  }
  &#title-carrousel-cocktails {
    margin-left: 130px; 
    color: white;
  }
  &#ilustration {
    margin-right: 130px; 
    height: 400px;
    width: 400px;
  }
  &#options {
    text-align: center;
    color: $font-color-principal;
  }
  &#content-cards-mobile {
    display: none;
  }
  &#maspedidos-mobile {
    display: none;
  }
  &#content-cards {
    text-align: center;
  }
  &#carta-mobile {
    display: none;
  }
  &#card-menu-item-mobile {
    width: 18rem;
    margin: 10px;
    height: 500px;
  }
}

h1 {
  &.title-menu {
    text-align: center;
    color: white;
    margin-bottom: 30px;
  }
}

h2 {
  &.title-carta {
    text-align: center; 
    color: white; 
    margin-top: 30px;
  }
  &.subtitle-carta {
    color: white; 
  }
  &.title-cocktails {
    color: red;
  }
}

h3 {
  &.subtitle-carta {
    text-align: center; 
    color: white; 
    margin-top: 10px; 
    margin-bottom: 40px;
  }
}

button {
  &#search-button {
    margin-left: 5px;
    background-color: rgb(202, 68, 34);
    color: $font-color-principal;
  }
}