/* Responsive */

/* Media Queries 

Entre parentesis va la medida de quiebre en la cual hacer efecto la madiea quiere

min: desde / a partir de
max: hasta

*/


/* Mobile */

@media screen and (max-width: $mobile) {

  img {
    &.logo-footer {
      height: 150px;
    }
    &.img-deck-home {
      height: 100px;
      width: 180px;
    }
    &#img-merienda {
      border-radius: 40px;
      height: 200px !important;
      width: 250px;
    }
    &.img-about-us {
      @include sizes(100%,150px);
    }
    &.img-staff-parnerts {
      width: 100%;
      height: 80%;
    }
    &.banner {
      // Desafio Sass 2 : Utilizar un Mixin.
      @include sizes(100%,150px);
    }
  }

  ul {
    &.redes-footer {
      justify-content: center !important;
      margin: 10px 40px 10px 10px; 
      list-style: none;
      img {
        width:100%;
        height: 60px;
        padding: 4px;
      }
    }
  }

  h1 {
    &.text-sections {
      font-size: 1rem;
      margin-top: 70px !important;
    }
    &.text-contact {
      text-align: center;
    }
  }

  a {
    &.navbar-brand {
      img {
        height: 80;
        margin-bottom: 10px;
      }
      font-size: 25px;
    }
  }

  h2 {
    &.title-barmans {
      font-size: 20px;
    }

  }

  h3 {
    &.titles-barman {
      font-size: 20px;
    }
  } 

  div {
    &.card {
      width: 100% !important;
      height: 250px;
    }
    &.modal-body {
      div {
        &.div.card {
          height: 600px !important;
        }
      }
    }
    &#about-us-container-desktop  {
      display: none;
    }
    &#about-us-container-mobile  {
      display: block;
    }
    &#BannerContainer {
      border-radius: 40px; 
      border-color: rgb(202, 68, 34); 
      border-width: 1px; 
      border-style: solid;
    }
    &#header-Presentation-Desktop{
      display: none;
    }
    &#header-Presentation-Mobile {
      display: block !important;
    }
    &#contact-container-desktop {
      display: none;
    }
    &#contact-container-mobile {
      display: block;
    }
    &#map-container-google-1 {
      height: 400px; 
      margin-top: 20px;
    }
    &#contact-data-container {
      margin-top: -60px; 
      text-align: center;
    }
    &.circulo-1 {
      width: 220px !important;
      height: 200px !important;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      margin-top: -150px !important;
      margin-left: -100px !important;
    }
    &.circulo-2 {
      width: 130px !important;
      height: 130px !important;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: rgb(145, 37, 37);
      margin-top: -100px !important;
      margin-left: 100px !important;
    }
  }

  p {
    &.text-about-us {
      font-size: 15px !important;
    }
  }

  div {
    &#tragos {
      display: none;
    }
    &#carouselExampleCaptions-1 {
      display: block !important;
    }
    &#form-items-reserves {
      display: none;
    }
    &#form-items-reserves-mobile {
      display: block !important;
    }
    &#img-reserves-desktop {
      display: none;
    }
    &#form-reserves {
      border-style: none;
    }
}

img {
  &.gif-reserves-desktop {
    display: none;
  }
}


}


/* Para Tablets, luego ya es desktop */


@media (min-width: $tablet) and (max-width: $desktop) {
  img {
    &.logo-footer {
      height: 100px;
    }
    &.img-deck-home {
      height: 230px;
      width: 350px;
    }
    &#img-merienda {
      border-radius: 40px;
      height: 300px !important;
      width: 350px;
    }
    &.img-staff-parnerts {
      // Desafio Sass 2 : Utilizar un Mixin.
      @include sizes(300px,300px);
    }
    &.img-about-us {
      // Desafio Sass 2 : Utilizar un Mixin.
      @include sizes(300px,200px);
    }
    &.banner {
      // Desafio Sass 2 : Utilizar un Mixin.
      @include sizes(100%,200px);
    }
    &.img-inicio-desktop {
      margin-top: -230px; 
      width: 100%;
    }
    &.gif-reserves-desktop {
      width: 120%;
      height: 100%;
    }
  }
  ul {
    &.redes-footer {
      justify-content: center !important; 
      margin: 10px 50px 30px 10px; 
      list-style: none;
      img {
        // Desafio Sass 2 : Utilizar un Mixin.
        @include sizes(50px,50px);
        margin: 10px 10px 5px 10px; 
      }
    }
  }
  h1 {
    &.text-sections{
      font-size: 2rem;
      margin-top: 100px !important;
    }
  }

  div {
    &.card {
      width:14rem !important;
    }
    &.modal-body {
      div {
        &.card {
          width: 100% !important;
          height: 700px !important;
        }
      }
    }
    &.circulo-1 {
      width: 350px !important;
      height: 350px !important;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      margin-top: -230px;
      margin-left: -200px;
    }
    &.circulo-2 {
      width: 200px !important;
      height: 200px !important;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: rgb(145, 37, 37);
      margin-top: -130px !important;
      margin-left: 130px !important;
    }
    &#BannerContainer {
      border-radius: 40px; 
      border-color: rgb(202, 68, 34); 
      border-width: 1px; 
      border-style: solid;
    }
    &#header-Presentation-Desktop{
      display: block;
    }
    &#header-Presentation-Mobile {
      display: none !important;
    }
    &#contact-container-desktop {
      display: none;
    }
    &#contact-container-mobile {
      display: block;
    }
  }
  p {
    &.text-about-us {
      font-size: 20px !important;
    }
  }

}