/* Reserves */


h2 {
  &.title-personal-data {
    color: $font-color-principal;
  }
}

div {
  &#form-reserves {
    border-radius: 40px;
    border-color: rgb(202, 68, 34); 
    border-width: 1px; 
    border-style: solid;
  }
  &#form-items-reserves {
    text-align: center;
  }
  &#form-items-reserves-mobile {
    display: none;
    text-align: center;
  }
}

button {
  &#btn-reservar {
    background-color: rgb(202, 68, 34);
    color: $font-color-principal;
  }
}
