/* Variables */

$mobile: 767px;
$tablet: 768px;
$desktop: 1023px;
$font-principal: 'Neuton', serif;
$font-color-principal: white;
$color-principal: black;


// Desafio Sass 2 : crear mapa.
$colors: (
    principal: black,
    secondary: rgb(145, 37, 37),
);
