/* Variables */

$mobile: 767px;
$tablet: 768px;
$desktop: 1023px;
$font-principal: 'Neuton', serif;
$font-color-principal: white;
$font-sencondary: 'Dancing Script', cursive;
$color-principal: black;
$px-border-radius: 30px;

$colors: (
    principal: black,
    secondary: rgb(145, 37, 37),
);
