/* Footer */

img {
  &.logo-footer {
    margin-top: 1rem;
  }
}

ul {
  &.redes-footer {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
}

ul {
  &.reder-footer {
    li {
      margin: 10px;
    }
  }
}

ul {
  &.redes-footer {
    img {
      width:80%;
    }
  }
}