/* Index */

div {
  &.circulo-1 {
    width: 400px;
    height: 400px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgb(145, 37, 37);
    margin-top: -230px;
    margin-left: -200px;
  }
}

div {
  &.circulo-2 {
    width: 400px;
    height: 400px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgb(145, 37, 37);
    margin-top: -180px;
    margin-left: 280px;
  }
}

img {
  &.img-deck-home {
    border-radius: 40px;
    width: 100%;
    height: 50%;
    &:hover {
      transform: scale(2,2);
      transition: all 1s;
    }
  }
  &.banner {
    height:400px;
    width:100%;
  }
}

img {
  &#img-merienda {
    border-radius: 40px;
    height: 400px;
    &:hover{
      transform: scale(2,2);
      transition: all 1s; 
    }
  }
}


h1 {
  &.text-sections {
    font-family: $font-principal;
    margin-top: 100px;
    color: white;
  }
  &.title-banners {
    text-align: center;
    font-family: 'Neuton', serif, cursive;
    font-size: 50px; color: white; 
    margin-top: -40px;
  }
}

h5 {
  &.subTitle-banners {
    color: white; 
    text-align: center; 
    font-family: 'Neuton', serif;
    margin-bottom: 50px;
  }
}

hr {
  color: white !important;
}
