/* Media Queries 

Entre parentesis va la medida de quiebre en la cual hacer efecto la madiea quiere

min: desde / a partir de
max: hasta

*/

  /* Mobile */

  @media screen and (max-width: 767px) {
    .grid-item-header:nth-child(2) .logo img.isologotipo {
      display: none;
    }
    .grid-item:nth-child(1) .logo img.imgLogo {
      width: 80px;
      height: 70px;
      margin-top: 10px;
    }
    .grid-item:nth-child(2) {
      height: 300px;
      width: 90%;
    }

    .grid-item-info-reserves {
        height: 500px;
        grid-column: 1/8;
    }

    .grid-item:nth-child(3) {
       height: 300px;
    }
    .grid-item-header:nth-child(1) {
      display: none;
    }
    .grid-item-header:nth-child(2) {
        grid-column: 1/3;
        text-align: left;
    }
    .grid-item-header:nth-child(3) {
      display: none;
    }
    .grid-item-header:nth-child(4) {
      display: flex;
      grid-column: 3/10;
    }
    .grid-item-header:nth-child(4) ul.menu {
      list-style: none;
      display: flex;
    }
    .grid-item-header:nth-child(4) ul.menu li {
      margin: 0 2px;
      font-family: cursive;
      font-size: 15px;
    }
    .grid-item-footer:nth-child(2) p {
      font-size: 8px;
    }
    .grid-item-footer:nth-child(3) h2 {
      font-size: 14px;
    }
    .grid-item-footer:nth-child(3) ul.footer-redes img {
      height: 35px !important;
      width: 100%;
    }
    .grid-item-footer:nth-child(3) ul.footer-redes li {
      margin: -10px 05px;
    }
    .grid-item-footer .logo img {
      height: 50px !important;
      background: blue;
    }
    .grid-item-footer:nth-child(2) img{
      height: 20px !important;
    }
    .grid-item-footer-container {
        background: rgb(145, 37, 37);;
        grid-column: 1/12;
        height: 300px;
    }
    .grid-item-about-us-details:nth-child(2) {
        background: saddlebrown;
        grid-column: 1/7;
        height: 180px;
    }
    .grid-item-about-us-details:nth-child(3) {
        grid-column: 7/12;
        height: 100%;
      }
    .grid-item-about-us-details:nth-child(4) {
        grid-column: 1/12;
        grid-row: 3;
        height: 450px;
      }
    .grid-item-about-us-details:nth-child(5) {
        grid-column: 1/12;
        grid-row: 4;
        height: 400px;
    }
    .grid-item-about-us-details:nth-child(5) img{
        width: 100%;
        height: 60%;
    }
    .grid-item-footer-abuot-us-container {
        background: rgb(145, 37, 37);
        margin-top: 900px;
        grid-column: 1/12;
        height: 300px;
      }
  
  }



/* Para Tablets, luego ya es desktop */


  @media (min-width: 768px) and (max-width: 1023px) {

    .grid-item-header:nth-child(2) .logo img.isologotipo {
        display: none;
      }
    .grid-item:nth-child(1) .logo img.imgLogo {
      width: 130px;
      height: 85px;
    }
    .grid-item-header:nth-child(1) ul.menu li {
        margin: 0 10px;
        font-family: cursive;
        font-size: 20px;
      }
    .grid-item-header:nth-child(3) ul.menu li {
        margin: 0 10px;
        font-family: cursive;
        font-size: 20px;
    } 
    .grid-item:nth-child(2) {
        height: 400px;
        width: 95%;
    }
    .grid-item:nth-child(3) {
        height: 400px;
    }
    .grid-item-about-us-details:nth-child(2) {
        grid-column: 1/7;
        height: 180px;
    }
    .grid-item-about-us-details:nth-child(3) {
        grid-column: 1/7;
        height: 180px;
      }
      .grid-item-about-us-details:nth-child(4) {
        grid-column: 8/12;
        height: 180px;
      }
      .grid-item-about-us-details:nth-child(5) {
        grid-column: 1/12;
        grid-row: 4;
        height: 550px;
      }
      .grid-item-footer-abuot-us-container {
        background: rgb(145, 37, 37);
        margin-top: 700px;
        grid-column: 1/12;
        height: 300px;
      }
  
  }