body {
  background-color: black !important;
}

h1, h2, h3 {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}



nav {
  text-align: right;
  padding: 1%;
}

section {
  color: white;
}

/* Reservas */

section.formReserve {
  background-color: black;
  padding: 30px;
  margin-top: 15px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

section.titleReserve {
  padding: 10px;
  margin:15px;
  text-align: center;
}

.grid-item-info-reserves {
  height: 600px;
  grid-column: 1/12;
}

.grid-item-reserves-container {
  margin-top: 40px;
  height: 100px;
  grid-column: 1/12;
}

/* Fin Reservas */

/* Menu */

section.menuTitle {
  margin: 15px;
  padding: 5px;
  text-align: center;
}

section ul.cards h2.titles {
  font-family: cursive;
  font-size: 30px;
}

/* Fin Menu */

/* Nosotros */

.grid-item-about-us-container{
  height: 700px;
  grid-column: 1/12;
}

.grid-item-about-us-details img{
  width:100%;
  height:100%;
}

.grid-item-about-us-details p{
  font-size: 20px; 
  padding: 10px; 
  color: white;
}

.grid-item-about-us-details h2 {
  text-align: center;
}

.grid-item-about-us-details ul {
  display: flex; 
  text-align: center; 
  list-style: none;
}

.grid-item-about-us-details ul li {
  margin: 0 20px;
}

.grid-item-about-us-details ul li img {
  width:100%;
  height:80%;
  border-radius: 200px;
}

.grid-container-about-us-details {
  display: grid;
  padding: 10px;
  gap: 15px;
  grid-column: 100px 800px 100px;
  grid-row: 100px 900px;
}

.grid-item-about-us-details:nth-child(1) {
  grid-column: 1/12;
  text-align: center;
}

.grid-item-about-us-details:nth-child(2) {
  background: yellow;
  grid-column: 1/5;
  height: 250px;
}

.grid-item-about-us-details:nth-child(3) {
  background: tomato;
  grid-column: 1/5;
  height: 250px;
}

.grid-item-about-us-details:nth-child(4) {
  grid-column: 5/7;
  grid-row: 2/4;
}

.grid-item-about-us-details:nth-child(5) {
  padding: 10px;
  background: black;
  grid-column: 7/12;
  grid-row: 2/4;
  border-radius: 10px;
}

/* Fin Nosotros */


/* Contacto */

.grid-item-contact-container{
  margin-top: 100px;
  height: 500px;
  grid-column: 1/12;
}

section.formContact {
  background-color: white;
  padding: 30px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  width: 350px;
  margin: 0 auto;
}

form.items-formContact {
  color: black;
}

/* Fin Conctacto */

 
/* index */

.grid-container {  
  background:rgb(145, 37, 37);
  display: grid;
  padding: 10px;
  gap: 5px;
  grid-column: 100px 300px;
  grid-row: 100px 450px 400px;
}

.grid-item {
  background: rgb(145, 37, 37);
  padding: 10px;
}

.grid-item:nth-child(1) {
  background: black;
  grid-column: 1/12;
  height: 100px;
  border-radius: 10px;
  text-align: center;
  height: 100px;
}


.grid-item:nth-child(1) .logo img.isologotipo {
  width: 100px;
}

.grid-item:nth-child(1) .logo img.imgLogo {
  width: 150px;
}



.grid-item:nth-child(2) img {
  border-radius: 10px;
}

.grid-item:nth-child(3) {
  grid-column: 1/12;
  height: 700px;
}


.menu ul li a {
  margin: 0 10px;
  font-family: cursive;
  font-size: 70px;
}

.menu-Container {
  background: rgb(145, 37, 37);;
}

.menu {
  padding: 10px;
  background-color: black;
}
.menu ul li{
  text-decoration: none;
}

.menu ul li a:hover {
  color: red;
}

.grid-item:nth-child(5) {
  background: red;
  grid-column: 1/12;
}

.cardsTitle-2{
  color: white;
  font-family: cursive;
  font-size: 30px;
  text-align: center;
}


.grid-container-detalle-1{
  display: grid;
  padding: 10px;
  gap: 15px;
  grid-column: 100px 800px 100px;
  grid-row: 100px 900px;
}

.grid-item-detalle-1:nth-child(1) {
  background: turquoise;
  grid-row: 1/2;
  grid-column: 1/3;
  height: 80%;
}

.grid-item-detalle-1:nth-child(2) {
  background: brown;
  grid-row: 1/2;
  grid-column: 3/5;
  height: 50%;
}
.grid-item-detalle-1:nth-child(3) {
  background: purple;
  grid-column: 5/8;
  grid-row: 1/2;
}

.grid-item-detalle-1:nth-child(4) {
  background: yellow;
  grid-column: 8/10;
  grid-row: 1/2;
  height: 70%;
}
.grid-item-detalle-1:nth-child(5) {
  background: peru;
  grid-column: 10/11;
  grid-row: 1/2;
  height: 50%;
}
.grid-item-detalle-1:nth-child(6) {
  background: darkblue;
  grid-column: 11/12;
  grid-row: 1/2;
  height: 50%;
}
.grid-item-detalle-1:nth-child(7) {
  background: darkblue;
  grid-column: 1/3;
  grid-row: 2/4;
  margin-top: -25%;
  height: 80%;
}
.grid-item-detalle-1:nth-child(8) {
  background: darkblue;
  grid-column: 3/5;
  grid-row: 2/4;
  margin-top: -60%;
  height: 110%;
}

.grid-item-detalle-1:nth-child(9) {
  background: darkblue;
  grid-column: 5/6;
  grid-row: 2/4;
  height: 60%;
}

.grid-item-detalle-1:nth-child(10) {
  background: darkblue;
  grid-column: 6/8;
  grid-row: 2/4;
  height: 70%;
}
.grid-item-detalle-1:nth-child(11) {
  background: darkblue;
  grid-column: 8/10;
  grid-row: 2/4;
  margin-top: -30%;
  height: 80%;
}

.grid-item-detalle-1:nth-child(12) {
  background: darkblue;
  grid-column: 10/12;
  grid-row: 2/4;
  margin-top: -45%;
  height: 120%;
}


/* Fin Index */


.grid-item-footer-abuot-us-container {
  background: rgb(145, 37, 37);;
  grid-column: 1/12;
  height: 330px;
}

/* Footer generico para todas las paginas */
.grid-item-footer-container {
  background: rgb(145, 37, 37);;
  grid-column: 1/12;
  height: 330px;
}

.grid-container-footer{
  background:black;
  display: grid;
  padding: 10px;
  gap: 5px;
  grid-column: 500px 800px;
  grid-row: 100px 450px;
}


.grid-item-footer:nth-child(1) {
  background: black;
  grid-column: 1/3;
  height: 120px;
  text-align: center;
  padding: 10px;
}

.grid-item-footer:nth-child(2) {
  background: black;
  grid-column: 3/8;
  height: 120px;
  text-align: center;
  padding: 10px;
}

.grid-item-footer:nth-child(2) p {
  color: white;
}


.grid-item-footer:nth-child(2) img{
  height: 30px;
}


.grid-item-footer:nth-child(3) {
  background: black;
  grid-column: 8/12;
  height: 120px;
  text-align: center;
  padding: 10px;
}

.grid-item-footer:nth-child(3) ul.footer-redes {
  display: flex;
  justify-content: center;
  list-style: none; 
  padding: 1px;
} 

.grid-item-footer:nth-child(3) ul.footer-redes li {
  margin: -10px 10px;
}

.grid-item-footer:nth-child(3) ul.footer-redes img {
  height: 50px;
} 

.grid-item-footer:nth-child(4) {
  background: black;
  grid-column: 1/12;
  height: 70px;
  text-align: center;
  padding: 10px;
}

.grid-item-footer .logo img {
  height: 90px;
}


/* Fin Footer */



/* Header para todas las paginas */
.grid-container-header{
  display: grid;
  padding: 10px;
  gap: 5px;
  grid-column: 500px 800px;
  grid-row: 100px 450px;
}

.grid-item-header:nth-child(1) {
  grid-column: 1/5;
  text-align: center;
  padding: 5px;
  height: 60px;
}

.grid-item-header:nth-child(2) {
  grid-column: 5/6;
  height: 80px;
  text-align: center;
  padding: 1px;
  margin-top: -10px;
}
.grid-item-header:nth-child(3) {
  grid-column: 6/12;
  height: 60px;
  text-align: center;
  padding: 5px;
}

.grid-item-header:nth-child(4) {
  grid-column: 6/12;
  display: none;
}

.grid-item-header:nth-child(1) ul.menu {
  list-style: none;
  padding: 1px;
  display: flex;
  justify-content: right;
}

.grid-item-header:nth-child(1) ul.menu li {
  margin: 0 10px;
  font-family: cursive;
  font-size: 30px;
}

.grid-item-header:nth-child(3) ul.menu {
  list-style: none;
  padding: 1px;
  display: flex;
  justify-content: left;
}

.grid-item-header:nth-child(3) ul.menu li {
  margin: 0 10px;
  font-family: cursive;
  font-size: 30px;
}

.grid-item-header:nth-child(1) ul.menu li a:hover{
  color: red
}

.grid-item-header:nth-child(3) ul.menu li a:hover{
  color: red
}

.grid-item-header:nth-child(2) .logo img.isologotipo {
  height: 100px;
}

.grid-item-detalle-1{
  border-radius: 10px;
}

.grid-item-detalle-1 img {
  -webkit-filter: grayscale(100%);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  }
  
.grid-item-detalle-1 img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  transform: scale(2,2);
  transition: all 1s;
  }


/* Fin header */


/*  Menu */

.grid-item-info-menu {
  height: 900px;
  width: 100px;
}

.grid-item-carta-titles {
  display: flex;
  place-items: center; 
  padding: 10px; 
  height: 90%; 
  border-radius: 10px;
}

.grid-item-carta-details {
  display: flex; padding: 5px; justify-content: space-between;
}

.grid-item-carta-details p {
  color: white;
}

.grid-item-carta-details img {
  height:200px;
  width:220px;
  padding: 5px;
}


.grid-item-carta-container {
  background: rgb(145, 37, 37);;
  grid-column: 1/12;
  height: 1500px;
}

.grid-container-carta{
  display: grid;
  padding: 10px;
  gap: 5px;
  grid-column: 500px 800px 800px;
  grid-row: 100px 450px 800px;
}

.grid-item-carta:nth-child(1) {
  background: rgb(155, 75, 75);
  grid-column: 1/3;
  height: 150px;
}

.grid-item-carta:nth-child(2) {
  background: black;
  grid-column: 3/12;
  height: 220px;
}
.grid-item-carta:nth-child(3) {
  background: black;
  grid-column: 3/12;
  height: 220px;
}
.grid-item-carta:nth-child(4) {
  background: black;
  grid-column: 3/12;
  height: 220px;
}

.grid-item-carta:nth-child(5) {
  background: rgb(155, 75, 75);
  grid-column: 1/3;
  height: 150px;
}

.grid-item-carta:nth-child(6) {
  background: black;
  grid-column: 3/12;
  height: 220px;
}
.grid-item-carta:nth-child(7) {
  background: black;
  grid-column: 3/12;
  height: 220px;
}
.grid-item-carta:nth-child(8) {
  background: black;
  grid-column: 3/12;
  height: 220px;
}

/* Fin Menu */

/* Media Queries 

Entre parentesis va la medida de quiebre en la cual hacer efecto la madiea quiere

min: desde / a partir de
max: hasta

*/

  /* Mobile */

  @media screen and (max-width: 767px) {

    img.logo-footer {
      height: 150px;
    }

    ul.redes-footer img{
      width:100%;
      height: 60px;
    }
    
    ul.redes-footer{
      justify-content: center !important; 
      list-style: none;
    }

    img.img-deck-home {
      height: 100px;
      width: 180px;
    }

    h1.text-sections{
      font-size: 1rem;
      margin-top: 70px !important;
    }

    a.navbar-brand img {
      height: 80;
      margin-bottom: 10px;
    }

    div.card {
      width: 100% !important;
      height: 250px;
    }

    div.modal-body div.card {
      height: 600px !important;
    }

    div.circulo-1 {
      width: 220px !important;
      height: 200px !important;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      margin-top: -150px !important;
      margin-left: -100px !important;
    }
    
    div.circulo-2 {
      width: 130px !important;
      height: 130px !important;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: rgb(145, 37, 37);
      margin-top: -100px !important;
      margin-left: 100px !important;
    }

    img#img-merienda {
      border-radius: 40px;
      height: 200px !important;
      width: 250px;
    }

    img.img-about-us {
      height:100px !important;
      width: 100px !important;
    }

    img.img-staff-parnerts {
      width: 50px;
      height: 50px;
    }

    h2.title-barmans {
      font-size: 20px;
    }
    
    h3.titles-barman {
      font-size: 20px;
    }

    p.text-about-us {
      font-size: 10px !important;
    }

    .grid-item-header:nth-child(2) .logo img.isologotipo {
      display: none;
    }
    .grid-item:nth-child(1) .logo img.imgLogo {
      width: 80px;
      height: 70px;
      margin-top: 10px;
    }
    .grid-item:nth-child(2) {
      height: 200px;
      width: 90%;
    }

    .grid-item-info-reserves {
        height: 600px;
        grid-column: 1/8;
    }

    .grid-item:nth-child(3) {
       height: 300px;
    }
    .grid-item-header:nth-child(1) {
      display: none;
    }
    .grid-item-header:nth-child(2) {
        grid-column: 1/3;
        text-align: left;
    }
    .grid-item-header:nth-child(3) {
      display: none;
    }
    .grid-item-header:nth-child(4) {
      display: flex;
      grid-column: 3/10;
    }
    .grid-item-header:nth-child(4) ul.menu {
      list-style: none;
      display: flex;
    }
    .grid-item-header:nth-child(4) ul.menu li {
      margin: 0 2px;
      font-family: cursive;
      font-size: 15px;
    }
    .grid-item-footer:nth-child(2) p {
      font-size: 8px;
    }
    .grid-item-footer:nth-child(3) h2 {
      font-size: 14px;
    }
    .grid-item-footer:nth-child(3) ul.footer-redes img {
      height: 35px !important;
      width: 100%;
    }
    .grid-item-footer:nth-child(3) ul.footer-redes li {
      margin: -10px 05px;
    }
    .grid-item-footer .logo img {
      height: 50px !important;
      background: blue;
    }
    .grid-item-footer:nth-child(2) img{
      height: 20px !important;
    }
    .grid-item-footer-container {
        background: rgb(145, 37, 37);;
        grid-column: 1/12;
        height: 300px;
    }
    .grid-item-about-us-details:nth-child(2) {
        background: saddlebrown;
        grid-column: 1/7;
        height: 180px;
    }
    .grid-item-about-us-details:nth-child(3) {
        grid-column: 7/12;
        height: 100%;
      }
    .grid-item-about-us-details:nth-child(4) {
        grid-column: 1/12;
        grid-row: 3;
        height: 450px;
      }
    .grid-item-about-us-details:nth-child(5) {
        grid-column: 1/12;
        grid-row: 4;
        height: 400px;
    }
    .grid-item-about-us-details:nth-child(5) img{
        width: 100%;
        height: 60%;
    }
    .grid-item-footer-abuot-us-container {
        background: rgb(145, 37, 37);
        margin-top: 900px;
        grid-column: 1/12;
        height: 300px;
      }
  
  }



/* Para Tablets, luego ya es desktop */


  @media (min-width: 768px) and (max-width: 1023px) {

    img.logo-footer {
      height: 100px;
    }

    ul.redes-footer img{
      width: 40px !important;
      height: 40px;
    }
    
    ul.redes-footer{
      justify-content: center !important; 
      list-style: none;
    }

    img.img-deck-home {
      height: 230px;
      width: 350px;
    }

    h1.text-sections{
      font-size: 2rem;
      margin-top: 100px !important;
    }

    div.card {
      width:14rem !important  ;
    }

    div.modal-body div.card {
      width: 100% !important;
      height: 700px !important;
    }

    div.circulo-1 {
      width: 350px !important;
      height: 350px !important;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      margin-top: -230px;
      margin-left: -200px;
    }
    
    div.circulo-2 {
      width: 200px !important;
      height: 200px !important;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: rgb(145, 37, 37);
      margin-top: -130px !important;
      margin-left: 130px !important;
    }

    img#img-merienda {
      border-radius: 40px;
      height: 300px !important;
      width: 350px;
    }

    img.img-staff-parnerts {
      width: 100px;
      height: 100px;
    }

    img.img-about-us {
      height:200px !important;
      width: 150px !important;
    }

    p.text-about-us {
      font-size: 20px !important;
    }
    
    .grid-item-header:nth-child(2) .logo img.isologotipo {
        display: none;
      }
    .grid-item:nth-child(1) .logo img.imgLogo {
      width: 130px;
      height: 85px;
    }
    .grid-item-header:nth-child(1) ul.menu li {
        margin: 0 10px;
        font-family: cursive;
        font-size: 20px;
      }
    .grid-item-header:nth-child(3) ul.menu li {
        margin: 0 10px;
        font-family: cursive;
        font-size: 20px;
    } 
    .grid-item:nth-child(2) {
        height: 400px;
        width: 95%;
    }
    .grid-item:nth-child(3) {
        height: 400px;
    }
    .grid-item-about-us-details:nth-child(2) {
        grid-column: 1/7;
        height: 180px;
    }
    .grid-item-about-us-details:nth-child(3) {
        grid-column: 1/7;
        height: 180px;
      }
      .grid-item-about-us-details:nth-child(4) {
        grid-column: 8/12;
        height: 180px;
      }
      .grid-item-about-us-details:nth-child(5) {
        grid-column: 1/12;
        grid-row: 4;
        height: 550px;
      }
      .grid-item-footer-abuot-us-container {
        background: rgb(145, 37, 37);
        margin-top: 700px;
        grid-column: 1/12;
        height: 300px;
      }
  
  }


/* Desafio 4: Agrager Transformaciones, animaciones y/o transiciones en un rama y
mergear a master */


/* Gradientes */

.grid-item:nth-child(2) {
  height: 700px;
  grid-column: 1/12;
  /* Aplico un gradiente sobre la imagen de fondo */
  background-image:url("../images/presentacion.jpg"),
  linear-gradient(to bottom,
    rgb(255, 255, 255),
    rgba(179, 82, 18, 0.096)
  );
  background-size: cover;
  background-blend-mode: multiply;
}


/* Fin Gradientes */


/* Transformacion */

.grid-item-carta-details img:hover {
  transform: scale(2,2);
  transition: all 1s;
}

.grid-item-about-us-details img:hover{
  transform: scale(2,2);
  transition: all 1s;
}

/* Fin transfomaciones */

/* Animaciones */

h1.title_reserves{
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
  color: white;
  text-align: center;
}

h1.title_contact{
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
  color: black;
}


@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Fin Animaciones */


/* Segunda Pre-Entrega: Hacer totalmente responsive y con animaciones y/o transformacioenes 
dos paginas del sitio */

a.navbar-brand:hover {
  color: red;
}

a.navbar-brand {
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: xx-large; 
}


li.nav-item a {
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: xx-large;
}

li.nav-item a:hover {
  color: red;
}

li.nav-item a.nav-link.active {
  color: red; 
}

img.logo-footer {
  margin-top: 1rem;
}

ul.redes-footer{
  display:flex; 
  justify-content: space-around; 
  list-style: none;
}

ul.redes-footer li {
  margin: 10px;
}

ul.redes-footer img{
  width:100%;
}

img.img-deck-home {
  border-radius: 40px;
}


img.img-deck-home:hover {
transform: scale(2,2);
transition: all 1s;
}

h1.text-sections{
  font-family:'Indie Flower', cursive; 
  margin-top: 100px;
  color: white;
}

button.navbar-toggler{
  background-color: white;
}

div.card {
  background-color: rgb(145, 37, 37);
  color: white;
}

img#img-merienda {
  border-radius: 40px;
  height: 400px;
}

img#img-merienda:hover {
  transform: scale(2,2);
  transition: all 1s; 
}

div.circulo-1 {
  width: 400px;
  height: 400px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgb(145, 37, 37);
  margin-top: -230px;
  margin-left: -200px;
}

div.circulo-2 {
  width: 400px;
  height: 400px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgb(145, 37, 37);
  margin-top: -180px;
  margin-left: 280px;
}

img.img-mas-pedidos {
  -webkit-filter: grayscale(100%);
  width: 100%;
  height: 90%;
  border-radius: 10px;
}

img.img-mas-pedidos:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  transform: scale(2,2);
  transition: all 1s;
}

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container iframe{
  left:0;
  top:0;
  height:70%;
  width:100%;
  position:absolute;
}

h1.text-reserves{
  font-family:'Indie Flower', cursive; 
  color: white;
}

label.form-label {
  color: white;
}

p.contact-data {
  color: white;
}

label.form-check-label {
  color: white;
}

p.text-about-us {
  font-family:'Indie Flower', cursive; 
  font-size: 25px;
  color: white;
}

h1.title-staff {
  text-align: center;
  color: white;
}

h1.title-history {
  font-family:'Indie Flower', cursive;
  color: white;
  text-align: center;
  margin-top: 10px;
}

h2.title-barmans {
  font-family:'Indie Flower', cursive;
  color: white;
  text-align: center;
}

h3.titles-barman {
  font-family:'Indie Flower', cursive;
  color: white;
  text-align: center;
}

img.img-staff-parnerts {
  border-radius: 100px;
}

img.img-staff-parnerts:hover {
  transform: scale(2,2);
  transition: all 1s; 
}

img.img-about-us {
  width:100%;
  height:40%;
  padding: 10px;
}
